.paginationBttns{
    margin-top: 20px !important;
    width: 80%;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a{
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #000000be;
    color: #000000 !important;
    cursor: pointer;
    text-decoration: none;
}

.paginationBttns a:hover{
    color: #ffffff !important;
    background-color: #0278ff ;
}

.paginationActive a{
    color: #ffffff !important;
    background-color: #0278ff !important; 
}

.paginationActive a:link, a:visited{
    text-decoration:none;
}