.paginationBttns{
    margin-top: 20px !important;
    width: 80%;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    color: purple;
}

.paginationBttns a{
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
    border: 1px solid #000000;
    color: #0004ff !important;
    cursor: pointer;
    text-decoration: none;
}

.paginationBttns a:hover{
    color: #000000;
    background-color: #54e0f8 ;
}

.paginationActive a{
    color: #fff !important;
    background-color: #3a8c9b !important; 
}

.paginationActive a:link, a:visited{
    text-decoration:none;
}