
  .container_modal{
    border-style: solid;
    border-color: red;
  }

  .modal_product{
    display: flex;
    justify-content: flex-end;
  }

  /* Realizar un media query a  para colcoar el bottón centrado y que ocupe toda el width*/

  /* @media (min-width: 768px) {
    .seccionText{
        padding: 112px;
    }
  } */