body, html {
  height: 100%;
  
}

body{
  background-image: url("../../assets/imgs/backgrounds/white-paper-texture.jpg");

}

.mainHome{
  margin-top: -40px;
}

#jumb{
  margin-top: 50px !important ;
  margin-bottom: 20px !important;
  max-height: 200px;
  background: #7cb3e2;
  background: linear-gradient(10deg, #7cb3e2ca 21%, #fdfdffaf 98%);
}

/* Productos */
.seccionText{
  padding: 3rem;
  text-align: justify;
}

  .seccionProducto1{
    background-image: url('../../assets/imgs/homeImgs/Procesadores.jpg');
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .seccionProducto2{
    background-image: url('../../assets/imgs/homeImgs/placa_madre.jpg');
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .seccionProducto3{
    background-image: url('../../assets/imgs/homeImgs/memorias_ram.jpg');
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .seccionProducto4{
    background-image: url('../../assets/imgs/homeImgs/fuentes_poder.jpg');
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  @media (max-width: 510px) {

    .seccionProducto1{
      min-height: 250px;
    }


  }
