
/* Estilos para login page */
#div_login{
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div_login_container{
    background: rgb(229,236,242);
    background: linear-gradient(304deg, rgba(229,236,242,0.7906512946975666) 4%, rgba(255,253,254,1) 100%);
    justify-content: center;
    border-radius: 15px;
}

#div_login_form{
   padding: 10px;
}

#imgUserProfile{
    margin-top: 10px;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 10px;
}


/* Estilos para register page */

#div_register{
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div_register_container{
    background: rgb(229,236,242);
    background: linear-gradient(304deg, rgba(229,236,242,0.7906512946975666) 4%, rgba(255,253,254,1) 100%);
    justify-content: center;
    border-radius: 15px;
}
